@use '../variables/drop-shadow';

.social-media-bar {
  display: flex;
  gap: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  background: white;
}

.social-media-bar__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 5px;
}

.social-media-bar__item img {
  width: 24px;
  height: 24px;
}