@use '../text-align/text-align.scss';
// Alignment classes using flexbox

// Flex display class
.flex {
  display: flex;

  // Align left
  &.align-left, &.flex-align-left {
    justify-content: flex-start;
  }

  // Align center
  &.align-center, &.flex-align-center {
    justify-content: center;
  }

  // Align right
  &.align-right, &.flex-align-right {
    justify-content: flex-end;
  }

  // Flex column
  &.flex-column {
    flex-direction: column;
  }

  // Flex column
  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-align-items-center {
    align-items: center;
  }
}

.flex-center-all {
  @extend .flex;
  @extend .flex-wrap;
  @extend .flex-align-center;
  @extend .flex-align-items-center;
  @extend .text-center;
}