$color-font-primary: #1e1e1e;
$color-font-primary-white: #ffffff;

:root {
  --color-font-primary: #{$color-font-primary};
  --color-font-primary-white: #{$color-font-primary-white};
}

.color-font-primary {
  color: var(--color-font-primary);
}

.color-font-primary-white {
  color: var(--color-font-primary-white);
}
