// Alignment classes using flexbox

// Align left
.align-left {
  display: flex;
  justify-content: flex-start;
}

// Align center
.align-center {
  display: flex;
  justify-content: center;
}

// Align right
.align-right {
  display: flex;
  justify-content: flex-end;
}