@use 'sass:map';

$font-sizes: (
  heading-1: 48px,
  heading-2: 36px,
  heading-3: 28px,
  heading-4: 24px,
  heading-5: 18px,
  heading-6: 16px
);

@mixin font-size($header) {
  font-size: map.get($font-sizes, $header);
}

:root {
  @each $header, $size in $font-sizes {
    --font-size-#{$header}: #{$size};
  }
}

// Generates the following classes:
// .font-size-heading-1, .font-size-heading-2, .font-size-heading-3, .font-size-heading-4, .font-size-heading-5, .font-size-heading-6
@each $header, $size in $font-sizes {
  .font-size-#{$header} {
    font-size: var(--font-size-#{$header});
  }
}
