@use '../variables/drop-shadow';


.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  position: relative;

  &--small {
    width: 32px;
    height: 32px;
  }

  &--medium {
    width: 64px;
    height: 64px;
  }

  &--large {
    width: 128px;
    height: 128px;
  }

  &--xlarge {
    width: 256px;
    height: 256px;
  }
  
  &--xxlarge {
    width: 512px;
    height: 512px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}