.image-top-left {
  object-fit: none;
  object-position: top left;
}

.image-top-right {
  object-fit: none;
  object-position: top right;
}

.image-bottom-left {
  object-fit: none;
  object-position: bottom left;
}

.image-bottom-right {
  object-fit: none;
  object-position: bottom right;
}

.image-cover {
  object-fit: cover;
}

.image-none {
  object-fit: cover;
}